.AudioButton {
	height: 2rem;
	width: 2rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	bottom: 1rem;
}

button span {
	text-transform: capitalize;
	font-weight: bold;
}
